<h1>Listing vocabs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Reference lang</th>
      <th>Learning lang</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabs.each do |vocab| %>
      <tr>
        <td><%= vocab.user_id %></td>
        <td><%= vocab.reference_lang %></td>
        <td><%= vocab.learning_lang %></td>
        <% if @is_users %>
          <td><%= link_to 'Edit', edit_user_vocab_path(@user, vocab) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @is_users %>
  <%= link_to 'New Vocab', new_user_vocab_path(@user.id) %>
<%end%>
